table {
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.6rem;
  letter-spacing: 1px;
}

thead,
tfoot {
  background-color: var(--color-blue-900);
}

th,
td {
  border: 1px solid var(--color-blue-800);
  padding: 8px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: var(--color-blue-600);
}

tbody > tr:nth-of-type(odd) {
  background-color: var(--color-blue-400);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}
