table {
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

thead,
tfoot {
  background-color: var(--color-violet-900);
}

th,
td {
  /* border: 1px solid rgb(160 160 160); */
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: var(--color-violet-500);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}
